{% extends 'ecommerce/main.html' %} 
{% load static %} 
{% block content %}
<div class="cont">
  <h3 class="my-4 border-bottom pb-1">{{product.name}}</h3>
	<div class="row">
		<!-- Images -->
		
		<div class="col-md-6">
			<div>
				<div class="fcont">
					<img id=featured src="{{product.imageURL}}" class="card-img-top img-thumbnail " height="87%">
				</div>
				
				<div id="slide-wrapper" class="">

					<div id="slider">
						{% for img in xtraimg %}
						{% if product.id == img.product.id %}
						<div class="imgcont">
							<img src="{{img.imageURL}}" class="card-img-top img-responsive thumbnaill " height="87%" >
						</div>
						{% endif%}
						{% endfor %}
						<div class="imgcont">
							<img src="{{product.imageURL}}" class="card-img-top thumbnaill">
						</div>
					</div>

				</div>	

			</div>
		</div>
		
		<div class="col-md-6">
			<p>{{product.description}}</p>
			<hr/>
			<table class="table table-bordered">
				<tr>
					<th>Sizes</th>
					<td>
						{% for size in sizes %}
						<button data-size="{{size.id}}" class="btn btn-outline-secondary btn-sm choosesize ">{{size.title}}</button>
						{% endfor %}
					</td>
				</tr>
				<tr>
					<th>Price</th>
					<th>₹ <span>{{product.price}}</span></th>
				</tr>
			</table>
			<hr/>
			<div class="input-group my-3" style="width:30%;">
			  <!-- <input type="number" value="1" class="form-control" id="productQty" /> -->
			  <div class="">
			  	<input type="hidden" />
		          <input type="hidden"/>
		          <input type="hidden" />
			    <button data-product="{{product.id}}" data-action="add" class="btn btn-primary btn-sm update-cart" type="button" id="addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
				<a href="{% url 'cart' %}"><button class="btn btn-success btn-sm" type="button"><i class="fas fa-cart-arrow-down"></i> Buy </button></a>
			  </div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-6">
			<h3 class="my-3">Additional Details</h3>
			<!-- Detail -->
			<table class="table table-bordered">
				<tr>
					<th>Brand</th>
					<td><a href="#">{{product.brand}}</a></td>
				</tr>
				<tr>
					<th>Category</th>
					<td><a href="#">{{product.category}}</a></td>
				</tr>
			</table>
		</div>
</div>
<script type="text/javascript">
	let thumbnails = document.getElementsByClassName('thumbnaill')
			  
	let activeImages = document.getElementsByClassName('thumbnaill active')
			  
	for(var i=0 ; i<thumbnails.length ; i++){
		thumbnails[i].addEventListener('mouseover' , function(){
		if(activeImages.length>0){
			activeImages[0].classList.remove('active')
		}
		this.classList.add('active')
		document.getElementById('featured').src= this.src
		
		})
	}
	</script>
{% endblock content %}